@using TriageSystem.Areas.Identity.Data
@model TriageSystemUser
@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    .Red {
        background-color: red;
    }

    .Orange {
        background-color: orange;
    }

    .Yellow {
        background-color: yellow;
    }

    .Green {
        background-color: green;
    }

    .Blue {
        background-color: blue;
    }
</style>

<br />
<form asp-controller="Home">
    <div id="lists">
        
    </div>
</form>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/robbmj/simple-js-countdown-timer/master/countdowntimer.js"></script>
<script>

    // ***************************************
    // TODO: Close signalR connection when redirecting and refreshing
    // ***************************************

    var refresh = @ViewData["Refresh"].ToString().ToLower();
   
    $.ajax({
        url: "Home/ListView",
        type: "POST",
        data: { "refresh": refresh },
        success: function (response) {
            $("#lists").html(response);
        }
    });
    var connection = new signalR.HubConnectionBuilder().withUrl('@Url.Content("~/notificationHub")').build();

    connection.logging = true;
    connection.start().catch(function (err) {
        return console.error(err.toString());
    });
    console.log("connected");

    connection.on("ReceiveNotification", function (hospitalID) {
        window.location.href = '@Url.Action("Index", "Home", new { refresh = true})';
    });

   
        @{ 
            if (TempData["Error"] != null)
            {
                Html.RenderPartial("_Error", TempData["Error"]);
            }
        }



</script>