@using TriageSystem.Areas.Identity.Data
@model TriageSystemUser
@{
    ViewData["Title"] = "Home Page";
}

<style type="text/css">
    .Red {
        background-color: red;
    }

    .Orange {
        background-color: orange;
    }

    .Yellow {
        background-color: yellow;
    }

    .Green {
        background-color: green;
    }

    .Blue {
        background-color: blue;
    }
</style>

<h2>Index</h2>

<form asp-controller="Home">
    <div id="lists">
        
    </div>
</form>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $.ajax({
        url: "Home/ListView",
        type: "Get",
        success: function (response) {
            $("#lists").html(response);
        }
    });
    //var connection = new signalR.HubConnectionBuilder().withUrl("https://localhost:44375/notificationHub").build();
    var connection = new signalR.HubConnectionBuilder().withUrl('@Url.Content("~/notificationHub")').build();

    //Disable send button until connection is established
    //document.getElementById("sendButton").disabled = true;
    connection.logging = true;
    connection.start().catch(function (err) {
        return console.error(err.toString());
    });
    console.log("connected");

    connection.on("ReceiveNotification", function (hospitalID) {
        console.log("received--------------------");
        $.ajax({
            url: "Home/ListView",
            type: "Get",
            success: function (response) {
                $("#lists").html(response);
                console.log("success");
            }
        });
    });

</script>