@model TriageSystem.ViewModels.PatientCheckInViewModel

@{
    ViewData["Title"] = "RegisterPatient";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/select2.min.css" rel="stylesheet" />


<style>
    .row {
        width: 100%;
    }

    .col-md-4 {
        display: inline-block;
        width: 30%;
    }

    .haha {
        margin-left: 60%;
    }
</style>

<h2>RegisterPatient</h2>

<h4>PatientCheckIn</h4>
<hr />
<div class="row">
    <form asp-action="RegisterPatient" id="form">

        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="hospitalID" asp-for="HospitalID" />
            <input type="hidden" id="PPS" asp-for="PPS" />
            <input type="hidden" id="List" />
            @*<input type="hidden" id="ListValue" />*@
            <div class="form-group">
                <label class="control-label">PPS</label>
                @*@Html.DropDownListFor(model => model.PPS, ViewBag.PPS as IEnumerable<SelectListItem>, "Select a PPS number...", new { id = "PPS" })*@
                <select class="dropdown" id="dropdown" asp-items="ViewBag.PPS" style="width: 80%"></select>
                <span asp-validation-for="PPS" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival" class="control-label"></label>
                <select asp-for="Arrival" asp-items="Model.Arrivals" id="Arrival"></select>
                @*<input asp-for="Arrival" class="form-control" id="Arrival" />*@
                <span asp-validation-for="Arrival" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Infections" class="control-label"></label>
                <input asp-for="Infections" class="form-control" id="Infections" />
                <span asp-validation-for="Infections" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="sendButton" type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Full_name" class="control-label"></label>
                <input id="Name" asp-for="Full_name" />
                <span asp-validation-for="Full_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input id="Gender" asp-for="Gender" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_of_birth" class="control-label"></label>
                <input id="DOB" asp-for="Date_of_birth" />
                <span asp-validation-for="Date_of_birth" class="text-danger"></span>
            </div>

        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Nationality" class="control-label"></label>
                <input id="Nationality" asp-for="Nationality" />
                <span asp-validation-for="Nationality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input id="Address" asp-for="Address" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@

    <script src="~/js/select2.min.js"></script>

    @*<script src="~/lib/signalr/dist/browser/signalr.js"></script>*@

    @*<script src="~/js/chosen.jquery.min.js"></script>*@
    <script>

            $(document).ready(function () {
                $('.dropdown').select2(
                    {
                        tags: true
                    });
            });


            $(".dropdown").on('change', function () {
                //changeSpan();
                var p = document.getElementById("dropdown").value.toString();
                var selected = $("[id*='dropdown'] :selected").text();
                if (selected == "Please Select...") {
                    document.getElementById("PPS").value = "";
                    setNullValues();
                } else if (selected == p) {
                    document.getElementById("PPS").value = selected;
                    setNullValues();
                } else {
                    console.log("set values");
                    var array = p.split(", ");
                    var patient = {};
                    patient.PPS = array[0];
                    patient.Full_name = array[1];
                    patient.Gender = array[2];
                    patient.Date_of_birth = array[3];
                    patient.Nationality = array[4];
                    patient.Address = array[5];
                    //$("[id*='PPS'] :selected") = patient.PPS;
                    document.getElementById("PPS").value = patient.PPS;
                    document.getElementById("Name").value = patient.Full_name;
                    document.getElementById("Gender").value = patient.Gender
                    document.getElementById("DOB").value = patient.Date_of_birth;
                    document.getElementById("Nationality").value = patient.Nationality;
                    document.getElementById("Address").value = patient.Address;
                }
                var dropdown = document.getElementById("dropdown");
                var array = [];
                for (var i = 0; i < dropdown.options.length; i++) {
                    var a = [];
                    a.push(dropdown.options[i].text);
                    a.push(dropdown.options[i].value);
                    array.push(a);
                    //console.log(dropdown.options[i].text);
                }

                document.getElementById("List").value = array;
                //document.getElementById("List").value = '@ViewBag.PPS';
                //console.log(x);
            });

            function setNullValues() {
                document.getElementById("Name").value = "";
                document.getElementById("Gender").value = "";
                document.getElementById("DOB").value = "";
                document.getElementById("Nationality").value = "";
                document.getElementById("Address").value = "";
            }



    </script>
}



