@model TriageSystem.ViewModels.AddDescriptionViewModel
@{
    ViewData["Title"] = "AddDesciption";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}

<h2>AddDesciption</h2>
<div class="row">

    <form asp-action="AddDescription">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @foreach (var d in Model.Discriminators)
        {
        <div>
            @Html.DisplayFor(model => model.Discriminators[i].Name);
            <input asp-for="Discriminators[i].Description" />
            @Html.DisplayFor(model => model.Discriminators[i].PriorityString);
        </div>
            i++;
        }
    </form>
</div>

