@model TriageSystem.ViewModels.AddDescriptionViewModel
@{
    ViewData["Title"] = "AddDesciption";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
}
<link href="~/css/site.css" rel="stylesheet" type="text/css" media="all">


<style type="text/css">
    .Red {
        background-color: red;
    }

    .Orange {
        background-color: orange;
    }

    .Yellow {
        background-color: yellow;
    }

    .Green {
        background-color: green;
    }

    .Blue {
        background-color: blue;
    }
</style>

<h2 class="module">Add desciption to discriminators</h2>
<div class="row">

    <form asp-action="AddFlowchart">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" id="SeeAlso" asp-for="SeeAlso" />
        <input type="hidden" id="Name" asp-for="Name" />
        <input type="hidden" id="Notes" asp-for="Notes" />
        <div>
            <div style="float: left;">
                Name
            </div>
            <div style="float: right; text-align: left;">
                Description
            </div>
        </div>
        <br />
        @foreach (var d in Model.Discriminators)
        {
            <div>
                <div class="@Model.Discriminators[i].Priority" style="float: left; width: 10%; padding: 4px;">
                    @Html.DisplayFor(model => model.Discriminators[i].Name)
                    <input type="hidden" id="Name" asp-for="Discriminators[i].Name" />
                </div>
                <div style="float: right; width: 90%; padding: 1px;">
                    <input asp-for="Discriminators[i].Description" style="width: 100%;" />
                    @*@Html.DisplayFor(model => model.Discriminators[i].PriorityString);*@
                    <input type="hidden" id="Name" asp-for="Discriminators[i].Priority" />
                </div>

            </div>
            i++;
        }
        <div class="form-group">
            <input id="sendButton" type="submit" value="Create" class="btn btn-default" />
        </div>
    </form>
</div>

