@model TriageSystem.ViewModels.CreateFlowchartViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row {
        height: 450px;
    }

    .col-md-6 {
        height: 430px;
    }

    .form-group {
        height: 125px;
    }

    

</style>

<h3>Create</h3>

<div class="row">
    <form asp-action="AddDescription">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Red" class="control-label"></label>
                <textarea asp-for="Red" rows="5" class="form-control" text-wrap:normal" type="text" placeholder="Please input the discriminators, each on new line."></textarea>
                <span asp-validation-for="Red" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Orange" class="control-label"></label>
                <textarea asp-for="Orange" rows="5" class="form-control" text-wrap:normal" type="text" placeholder="Please input the discriminators, each on new line."></textarea>
                <span asp-validation-for="Orange" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Yellow" class="control-label"></label>
                <textarea asp-for="Yellow" rows="5" class="form-control" text-wrap:normal" type="text" placeholder="Please input the discriminators, each on new line."></textarea>
                <span asp-validation-for="Yellow" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Green" class="control-label"></label>
                <textarea asp-for="Green" rows="5" class="form-control" text-wrap:normal" type="text" placeholder="Please input the discriminators, each on new line."></textarea>
                <span asp-validation-for="Green" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeeAlso" class="control-label">See also</label>
                <textarea asp-for="SeeAlso" rows="5" class="form-control" text-wrap:normal" type="text" placeholder="Please other flowcharts to be considered during a triage assessment, each on new line."></textarea>
                <span asp-validation-for="SeeAlso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <textarea asp-for="Notes" rows="5" class="form-control" text-wrap:normal" type="text" placeholder="Please input any notes"></textarea>
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>

        </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-default" />
    </div>
    </form>
</div>


